{{ form_start(form, {'action': path('contact_us'), 'method': 'POST', 'attr': {
    id: 'feedback_modal_new',
    class: 'feedback_form',
}}) }}

<div class="popup__input-container">
    {{ form_label(form.author_name, 'Имя', { 'label_attr': { 'class': 'input__container_label visuallyhidden' }}) }}

    {{ form_widget(form.author_name, { attr: { placeholder: "Имя" }}) }}

    <div class="input__error-message">
        {{ form_errors(form.author_name) }}
    </div>
</div>

<div class="popup__input-container">
    {{ form_label(form.email, 'Электронная почта', { 'label_attr': { 'class': 'input__container_label visuallyhidden' }}) }}

    {{ form_widget(form.email, { attr: { placeholder: "Электронная почта" }}) }}

    <div class="input__error-message">
        {{ form_errors(form.email) }}
    </div>
</div>

<div class="popup__input-container">
    {{ form_label(form.message, 'Введите сообщение', { 'label_attr': { 'class': 'input__container_label visuallyhidden' }}) }}

    {{ form_widget(form.message, { attr: { rows: 5, placeholder: "Введите сообщение" }}) }}

    <div class="input__error-message">
        {{ form_errors(form.message) }}
    </div>
</div>

<button type="submit" class="mainBtn btn" id="ask">Отправить</button>


{{ form_rest(form) }}
{{ form_end(form) }}
