{{ form_start(form, {'action': path('contact_us'), 'method': 'POST', 'attr': {
    id: 'feedback_modal_new',
    class: 'feedback_form remodal',
}}) }}

{{ form_errors(form) }}

<div class="popup__input-container">
    <label class="input__label visuallyhidden">Имя</label>
    {{ form_row(form.author_name, { attr: { placeholder: "Имя" } }) }}
</div>

<div class="popup__input-container">
    <label class="input__container_label visuallyhidden">Электронная почта</label>
    {{ form_row(form.email, { attr: { placeholder: "Email" } }) }}
</div>

<div class="popup__input-container">
    {{ form_label(form.message, 'Введите сообщение', { 'label_attr': { 'class': 'input__container_label visuallyhidden' }}) }}

    {{ form_widget(form.message, { attr: { rows: 5, placeholder: "Введите сообщение" }}) }}

    <div class="input__error-message">
        {{ form_errors(form.message) }}
    </div>
</div>

<button type="submit" class="mainBtn btn" id="ask">Отправить</button>


{{ form_rest(form) }}
{{ form_end(form) }}
