{{ form_start(form, {'action': path('contact_us'), 'method': 'POST', 'attr': {
    id: 'feedback_modal_new',
    class: 'feedback_form',
}}) }}

<div class="close-modal">
    <img src="/local/templates/kdteam/images/svg/close_modal.svg" alt="">
</div>

<div class="popup__container">
    <h3 class="popup__title">Напишите нам</h3>

    <div class="popup__input-container">
        <label class="input__label visuallyhidden">Имя</label>
        {{ form_row(form.author_name, { attr: { placeholder: "Имя" } }) }}
    </div>

    <div class="popup__input-container">
        <label class="input__container_label visuallyhidden">Электронная почта</label>
        {{ form_row(form.email, { attr: { placeholder: "Email" } }) }}
    </div>

    <div class="popup__input-container">
        <label class="input__container_label visuallyhidden">Сообщение</label>
        {{ form_row(form.message, { attr: { rows: 5, placeholder: "Введите сообщение" }}) }}
    </div>

    <button type="submit" class="mainBtn btn" id="ask">Отправить</button>
</div>

{{ form_rest(form) }}
{{ form_end(form) }}