{% extends "base.html.twig" %}

{% set title = news.title %}

{% block meta %}
    {{ parent() }}

    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ title }}"/>
    <meta property="og:url" content="{{ url('news_show', {slug: news.slug }) }}"/>
{% endblock %}

{# {% block title %}{{ title }}{% endblock %} #}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/landing/css/plugins.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link href="/local/templates/kdteam/pages/news/news.min.css" type="text/css" rel="stylesheet"/>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dist/bundle.js"></script>
    <script type="text/javascript" src="/local/templates/kdteam/pages/news/news.min.js"></script>
{% endblock %}

{% block main %}
    <div class="app__content">
        <ul class="breadcrumbs breadcrumbs_news" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            {% if is_mobile() or is_tablet() %}
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="{{ path("news_list") }}" class="active-breadcrumbs" itemprop="item">{{ title }}
                        <meta itemprop="name" content="{{ title }}">
                    </a>
                    <meta itemprop="position" content="1">
                </li>
            {% else %}
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="/" itemprop="item">Главная
                        <meta itemprop="name" content="Главная">
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="{{ path("news_list") }}" itemprop="item">Новости
                        <meta itemprop="name" content="Новости">
                    </a>
                    <meta itemprop="position" content="2">
                </li>
                <li class="active-breadcrumbs" itemprop="itemListElement" itemscope=""
                    itemtype="http://schema.org/ListItem">
                    <a itemprop="item">{{ title }}
                        <meta itemprop="name" content="{{ title }}">
                    </a>
                    <meta itemprop="position" content="3">
                </li>
            {% endif %}
        </ul>
        <div class="site-width">
            <div class="news-item">
                <h1 class="page-title">{{ title }}</h1>

                <div class="news-detail flex-detail-news" itemscope itemtype="http://schema.org/NewsArticle">

                    <link itemprop="mainEntityOfPage" href="{{ url('news_show', {slug: news.slug }) }}"/>
                    <meta itemprop="author" content="Без Бахил">
                    <meta itemprop="datePublished" content="{{ news.publishedAt |prepareDate('Y-m-d') }}">
                    <meta itemprop="dateModified" content="{{ news.createdAt |prepareDate('Y-m-d') }}">
                    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                        <link itemprop="url" href="{{ url('homepage') }}">
                        <meta itemprop="name" content="Безбахил">
                        <div itemprop="logo" itemscope itemtype="https://www.schema.org/ImageObject">
                            <link itemprop="url" href="/local/templates/kdteam/images/favicon.png">
                            <link itemprop="contentUrl"
                                  href="{{ app.request.getSchemeAndHttpHost() }}/local/templates/kdteam/images/favicon.png">
                        </div>
                    </div>
                    <meta itemprop="url" content="{{ app.request.getSchemeAndHttpHost() }}"/>

                    <div class="news-detail_image" itemprop="image" itemscope itemtype="http://schema.org/ImageObject">
                        <link itemprop="url" href="/local/templates/kdteam/images/favicon.png">
                    </div>

                    <div class="content-news">
                        <span class="news-date-time date_news news-item__date">  {{ news.publishedAt |prepareDate('d F, Y') }}</span>
                        <meta itemprop="datePublished" content="{{ news.publishedAt |prepareDate('Y-m-d') }}">
                        <meta itemprop="headline" content="{{ news.title }}">
                        <meta itemprop="description" content="{{ news.announce }}">

                        <p itemprop="articleBody">
                            {{ news.text |raw }}
                        </p>
                    </div>
                </div>
                <p class="back_link-block">
                    <a class="back_link" href="{{ path("news_list") }}">
                        <svg class="svg-icon__link">
                            <use xlink:href="#arrow_back"></use>
                        </svg>
                        Возврат к списку
                    </a>
                </p>
            </div>
        </div>
        <div class="site-width site-width_features">
            <div class="news-features">
                <ul class="news-features__list">
                    <li class="news-features__item">
                        <svg class="news-features__item-icon">
                            <use xlink:href="#features_money"></use>
                        </svg>
                        <span class="news-features__item-text">Возвращайте деньги за лечение в клиниках работающих в системе ОМС с помощью нашего бесплатного <a
                                    href="#">сервиса</a>.</span>
                    </li>
                    <li class="news-features__item">
                        <svg class="news-features__item-icon">
                            <use xlink:href="#features_thumb_up"></use>
                        </svg>
                        <span class="news-features__item-text">Выбирайте свою страховую компанию осознано, на основе настоящего <a
                                    href="#">рейтинга </a> страховых медицинских компаний.</span>
                    </li>
                    <li class="news-features__item">
                        <svg class="news-features__item-icon">
                            <use xlink:href="#features_ok"></use>
                        </svg>
                        <span class="news-features__item-text">Жалуйтесь <a href="#">правильно</a>, через своего страхового представителя. </span>
                    </li>
                    <li class="news-features__item">
                        <svg class="news-features__item-icon">
                            <use xlink:href="#features_mail"></use>
                        </svg>
                        <span class="news-features__item-text">Если у вас есть интересный вопрос о своем полисе ОМС, ваши права были нарушены, или в поликлинике не соблюдают законы, <a
                                    href="#">напишите нам</a> </span>
                    </li>
                </ul>
            </div>
        </div>
        <div id="interesting" class="b-interesting site-width">
            <div class="b-interesting__header">
                <h3 class="b-interesting__title">Вам может быть интересно</h3>
                <a href="{{ path("news_list") }}" class="b-interesting__button btn">Все статьи</a>
            </div>
            <div class="b-interesting__slider">
                <div class="b-interesting__slider-item">
                    <div class="b-interesting__item-image">
                        <img src="https://bezbahil.ru/uploads/news_article/058da37ca511d21b1776ef9c31d6155a/main_lg.jpg"
                             alt="">
                    </div>
                    <div class="b-interesting__item-content">
                        <div class="b-interesting__item-title">Кому должны делать анализ?</div>
                        <div class="b-interesting__item-text">Он заставляет работать других!</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


