<div class="lk__content__big-content__appeal-history">
    {% for appeal in omsChargeComplaints %}
        {% if (not currentYear is defined) or (appeal.year != currentYear) %}
            {% set currentYear = appeal.year %}
            <div class="lk__content__big-content__appeal-history__year">2020</div>
        {% endif %}
        <a class="lk__content__big-content__appeal-history__appeal-item" href="{{ path('lk_my_appeal_show', { id: appeal.id }) }}">
            <div class="appeal-item__date">{{ appeal.createdAt|prepareDate('d M') }}</div>
            <div class="appeal-item__name">{{ appeal.patient.fioShort }}</div>
            <div class="appeal-item__medical-institution">{{ appeal.medicalOrganization.name }}</div>
            <div class="appeal-item__insurance-company">
                <img src="{{ image_url(appeal.patient.insuranceCompany) }}" alt="{{ appeal.patient.insuranceCompany.name }}">
            </div>
        </a>
    {% endfor %}
</div>
<a class="lk__content__big-content__more-content-button btn" href="{{ path('lk_my_appeal_list') }}">Все обращения</a>
