{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {#    <link rel="stylesheet" href="/landing/css/app.css">#}
    {#    стили которые собираются дефолтной задачей gulp#}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/lichniy-cabinet/lichniy-cabinet.min.css">
{% endblock %}

{% block main %}
    <div class="lk">
        {{ include('@App/Lk/_menu.html.twig', { activeMenuItemAlias: 'dashboard'}) }}
        <div class="lk__title">Личный кабинет</div>
        <div class="lk__content">
            <div class="lk__content__big-content lk-border">
                <div class="lk__content__big-content__title">Обращения<a href="{{ path('oms_charge_complaint_index') }}"><img src="{{ asset('gulp/images/svg/lk-more-buttons.svg') }}"></a></div>
                {{ render(controller('AppBundle:User\\Cabinet:_dashboardAppealList')) }}
            </div>
            <div class="lk__content__small-content">
                {% if user.mainPatient and user.mainPatient.insuranceCompany %}
                {% if user.region %}
                {% set branch = resolveBranchByInsuranceCompanyAndRegion(user.mainPatient.insuranceCompany, user.region) %}
                {% endif %}
                <div class="lk__content__small-content__insurance-companies lk-border">
                    <div class="insurance-companies__title">Ваша страховая компания</div>
                    <div class="insurance-companies__logo"><img src="{{ image_url(user.mainPatient.insuranceCompany) }}" alt="{{ user.mainPatient.insuranceCompany.name }}"></div>
                    <div class="insurance-companies__phone">
                        <div class="insurance-companies__phone__main">
                            {% if branch is defined %}
                            {{ branch.phones }}
                            {% endif %}
                        </div>
                        <div class="insurance-companies__phone__additional">
                            {{ user.mainPatient.insuranceCompany.phones }}
                        </div>
                    </div>
                </div>
                {% endif %}
                {% if reviews|length %}
                <div class="lk__content__small-content__reviews lk-border">
                    <div class="reviews-title">Отзывы<img src="{{ asset('gulp/images/svg/lk-more-buttons.svg') }}"></div>
                    {% for review in reviews %}
                    <div class="reviews-item">
                        <div class="reviews-item__info">
                            <div class="reviews-item__info__date">{{ review.createdAt|prepareDate('j F Y') }}</div>
                            <div class="reviews-item__info__status">{% if review.moderationStatus == constant('AppBundle\\Entity\\Company\\FeedbackModerationStatus::MODERATION_NONE') %}На модерации{% endif %}</div>
                        </div>
                        <div class="reviews-item__text">{{ review.text|truncate(80) }}</div>
                    </div>
                    {% endfor %}
                    <a href="{{ path('lk_my_review_list') }}" class="reviews-all-reviews btn">Все отзывы</a>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
