{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {#    <link rel="stylesheet" href="/landing/css/app.css">#}
    {#    стили которые собираются дефолтной задачей gulp#}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/lichniy-cabinet/lichniy-cabinet-my-appeals.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">urlPrefix = '{{ app.request.getBaseURL() }}'
    </script>
    <script src="/dist/bundle.js"></script>

{% endblock %}
{% block main %}
    <div class="lk">
        {{ include('@App/Lk/_menu.html.twig', { activeMenuItemAlias: 'appeals'}) }}
        <div class="lk__title">Мои обращения</div>
        <div class="lk__content">
            {% if omsChargeComplaints|length %}
                <div class="lk__content__big-content lk-border">
                    <div class="lk__content__big-content__appeal-history">
                        {% for appeal in omsChargeComplaints %}
                            {% if (not currentYear is defined) or (appeal.year != currentYear) %}
                                {% set currentYear = appeal.year %}
                                <div class="lk__content__big-content__appeal-history__year">{{ appeal.year }}</div>
                            {% endif %}
                            <a class="lk__content__big-content__appeal-history__appeal-item"
                               href="{{ path('lk_my_appeal_show', { id: appeal.id }) }}">
                                <div class="appeal-item__date">{{ appeal.createdAt|prepareDate('d M') }}</div>
                                <div class="appeal-item__name">{{ appeal.patient.fioShort }}</div>
                                <div class="appeal-item__medical-institution">{{ appeal.medicalOrganization.name }}</div>
                                <div class="appeal-item__insurance-company"><img src="{{ image_url(appeal.patient.insuranceCompany) }}" alt="{{ appeal.patient.insuranceCompany.name }}"></div>
                            </a>
                        {% endfor %}
                    </div>
                    <button class="lk__content__big-content__more-content-button btn">Еще 5 обращений</button>
                </div>
            {% endif %}
            <div class="lk__content__small-content lk-border">
                {% include '@App/_obrashcheniya.html.twig' with {
                    'formid': 'appeal-form',
                    'form': appealForm,
                    'submitClass': 'form-item_button btn2',
                    'submitLabel': 'Создать новое обращение'
                } %}
            </div>
        </div>
    </div>
{% endblock %}
