{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/landing/css/app.css"> #}
    {# стили которые собираются дефолтной задачей gulp #}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/lichniy-cabinet/review-item.min.css">
{% endblock %}

{% block main %}
    <div class="lk">
        {{ include('@App/Lk/_menu.html.twig', { activeMenuItemAlias: 'reviews'}) }}
        <div class="lk__title">Мой отзыв от {{ review.createdAt|prepareDate('j F Y') }}
            {% if review.moderationStatus == constant('AppBundle\\Entity\\Company\\FeedbackModerationStatus::MODERATION_NONE') %}
            <span class="lk__title__status">На модерации</span>
            {% elseif review.moderationStatus == constant('AppBundle\\Entity\\Company\\FeedbackModerationStatus::MODERATION_REJECTED') %}
            <span class="lk__title__status">Отклонено</span>
            {% endif %}
        </div>
        <div class="lk__content">
            <div class="lk__content__big-content lk-border">
                <div class="lk__content__big-content__my-review">
                    <div class="my-review__title">
                        Мой отзыв от {{ review.createdAt|prepareDate('j F Y') }}
                    </div>
                    <div class="my-review__rate">
                        {% set emptyStars = 5 - review.valuation %}
                        {% set fullStars = review.valuation %}
                        {% if fullStars %}
                            {% for i in range(1, fullStars) %}
                                <img src="{{ asset('gulp/images/svg/lk-my-reviews-review-star-active.svg') }}">
                            {% endfor %}
                        {% endif %}
                        {% if emptyStars > 0 %}
                            {% for i in range(1, emptyStars) %}
                                <img src="{{ asset('gulp/images/svg/lk-my-reviews-review-star.svg') }}">
                                {% set j = i %}
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="my-review__text">
                        {{ review.text }}
                    </div>
                    <div class="my-review__name">
                        {{ review.authorName }}
                    </div>
                </div>
{#                <div class="lk__content__big-content__answer">#}
{#                    <div class="lk__content__big-content__answer__subtitle">Ответ организации</div>#}
{#                    <div class="lk__content__big-content__answer__text">Год назад обращался в больницу с проблемами#}
{#                        носа, быстро приняли меня, но произошло ... В прошлом году сын понюхал марганцовку. Очень#}
{#                        испугались за него, вызвали скорую#}
{#                    </div>#}
{#                    <div class="lk__content__big-content__answer__subtitle">Регион</div>#}
{#                    <div class="lk__content__big-content__answer__region">77 Московская область</div>#}
{#                    <div class="lk__content__big-content__answer__subtitle">Медицинская организация</div>#}
{#                    <div class="lk__content__big-content__answer__medical-organization">Поликлиника 77 имени Склифасовского</div>#}
{#                </div>#}
            </div>
            <div class="lk__content__small-content">
                <div class="lk__content__small-content__new-review lk-border">
                    <a href="{{ path('app_insurancecompany_feedback_new') }}" class="btn2">Новый отзыв</a>
                    <div class="lk__content__small-content__new-review__description">
                        Если у вас есть опыт обращения к своему страховому представителю, опишите его, вне зависимости
                        от того, положительный он или отрицательный.
                    </div>
                </div>
            </div>
        </div>
        <a href="{{ path('lk_index') }}" class="lk__button btn2">В личный кабинет</a>
    </div>
{% endblock %}
