<div class="b-info__item">
    <a href="{{ number.url }}" class="b-info__item-image">
        {% if number.isImageSvg %}
            <img src="{{ image_url(number) }}" alt="">
        {% else %}
            <img src="{{ image_thumbnail_url(number, null, 'small') }}" alt="">
        {% endif %}
    </a>
    <a href="{{ number.url }}" class="b-info__item-number">{{ number.title }}</a>
    <div class="b-info__item-text">{{ number.description }}</div>
    <div class="b-info__item-more">
        <a href="{{ number.url }}">{{ number.urlText }}
            <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                <svg class="svg-icon__link">
                    <use xlink:href="#arrow"></use>
                </svg>
            </div>
        </a>
    </div>
</div>