{% extends "base.html.twig" %}

{% block metaDescription %}
    <meta name="description"
          content="Мы помогаем вернуть деньги за лечение по полису обязательного медицинского страхования: профессионально и бесплатно. Оформите заявку прямо сейчас!"/>
{% endblock %}

{% block title %}
    <title>
        Написать нам — Безбахил — сервис для возврата денег за ОМС, рейтинг страховых компаний
    </title>
{% endblock %}

{% block stylesheets %}
    <link href="/local/templates/kdteam/pages/contact_us/contact_us.min.css" type="text/css" rel="stylesheet"/>
    {{ parent() }}
    <link href="/local/templates/kdteam/pages/news/news.min.css" type="text/css" rel="stylesheet"/>
    {{ parent() }}
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Playfair+Display:wght@700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/landing/css/plugins.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
{% endblock %}


{% block main %}
    <div class="app__content">
        <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
            {% if is_mobile() or is_tablet() %}
                <li class="active-breadcrumbs" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="{{ path('homepage') }}" itemprop="item">Главная
                        <meta itemprop="name" content="Главная">
                    </a>
                    <meta itemprop="position" content="1">
                </li>
            {% else %}
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="{{ path('homepage') }}" itemprop="item">Главная
                        <meta itemprop="name" content="Главная">
                    </a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="active-breadcrumbs" itemscope="" itemtype="http://schema.org/ListItem">
                    <a itemprop="item">Написать нам
                        <meta itemprop="name" content="Вопрос-ответ">
                    </a>
                    <meta itemprop="position" content="2">
                </li>
            {% endif %}
        </ul>
        <h1 class="title-page">Написать нам</h1>
        <div class="contact-us-form">
            {% include '@App/form/contact_us.html.twig' %}
        </div>
    </div><!-- b:m-content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dist/bundle.js"></script>
{% endblock %}