{% extends "base.html.twig" %}
{% set _region = region ? region.nameWithoutCode : 'Вся Россия' %}

{% block metaDescription %}
    <meta name="description"
          content="Мы помогаем вернуть деньги за лечение по полису обязательного медицинского страхования: профессионально и бесплатно. Оформите заявку прямо сейчас!"/>
{% endblock %}

{% block title %}
    <title>
        Безбахил — сервис для возврата денег за ОМС, рейтинг страховых компаний
    </title>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {#    <link rel="stylesheet" href="/landing/css/app.css">#}
    {#    стили которые собираются дефолтной задачей gulp#}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/dist/bundle-landing.js"></script>
    {% for label, messages in app.flashes(['magnific']) %}
        {% for message in messages %}
            <div class="remodal" data-remodal-id="magnific"
                 data-remodal-options="hashTracking: true, closeOnOutsideClick: true">
                <div data-remodal-action="close" class="remodal-close">

                    <div class="svg-icon svg-icon--close" aria-hidden="true">
                        <svg class="svg-icon__link">
                            <use xlink:href="#close"></use>
                        </svg>
                    </div>

                </div>
                <div class="remodal-content">
                    {{ message }}
                </div>
            </div>
            <script type="application/javascript">
                $(function(){
                    var inst = $('[data-remodal-id=magnific]').remodal();

                    inst.open();
                })
            </script>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block header %}
    {{ render(controller('AppBundle:Common:_header', { isHomepage: true })) }}
{% endblock %}

{% block main %}
    <div class="app__content">



        <div id="first" class="b-first">
            <div class="b-first__content site-width">
                <h1 class="b-first__title">
                    Верните деньги <span>за лечение</span>
                </h1>
                <div class="b-first__items">
                    <div class="b-first__item">

                        <div class="svg-icon svg-icon--ok" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </div>

                        Если Вам отказали
                        в бесплатном лечении
                        в поликлинике.
                    </div>
                    <div class="b-first__item">

                        <div class="svg-icon svg-icon--ok" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#ok"></use>
                            </svg>
                        </div>

                        Если Вам пришлось
                        заплатить за медицинские
                        услуги.
                    </div>
                </div>
                <div class="b-first__form">
                    {% include '@App/_obrashcheniya.html.twig' with {'formid': 'form-0', 'form': forms[0]}%}
                </div>
                <div class="b-first__bottom">
                    <a href="#" class="b-first__button">

                        <div class="svg-icon svg-icon--scroll" aria-hidden="true">
                            <svg class="svg-icon__link">
                                <use xlink:href="#scroll"></use>
                            </svg>
                        </div>

                        УЗНАТЬ ПОДРОБНЕЕ
                    </a>
                </div>
                <div class="b-first__bg"></div>
            </div>
        </div><!-- b-first -->
        <div id="work" class="b-work">
            <div class="b-work__content site-width">
                <h3 class="b-work__title">Как это работает</h3>
                <div class="b-work__text">
                    Безбахил — первый бесплатный сервис, помогающий вернуть деньги за лечение
                    в клиниках, работающих  в системе обязательного медицинского страхования.
                </div>
                <div class="b-work__block">
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_1.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Выбираете где, куда и с чем обращались
                        </div>
                    </div>
                    <div class="b-work__separator">
                        <img src="/landing/img/step_arrow.svg" alt="">
                    </div>
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_2.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Загружаете фото документа об оплате
                        </div>
                    </div>
                    <div class="b-work__separator">
                        <img src="/landing/img/step_arrow.svg" alt="">
                    </div>
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_3.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Сервис автоматически
                            сформирует обращение
                            и отправит в страховую
                            компанию
                        </div>
                    </div>
                    <div class="b-work__separator">
                        <img src="/landing/img/step_arrow.svg" alt="">
                    </div>
                    <div class="b-work__item">
                        <div class="b-work__item-image">
                            <img src="/landing/img/step_4.svg" alt="">
                        </div>
                        <div class="b-work__item-text">
                            Вам возвращают деньги
                            за лечение
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- b-work -->
        <div id="rating" class="b-rating">
            <div class="b-rating__content site-width">
                <div class="b-rating__in">
                    <div class="b-rating__part b-rating__part--info">
                        <h4 class="b-rating__title">Ваш голос <span>имеет значение</span></h4>
                        <div class="b-rating__info">—  Недовольны своим полисом ОМС?</div>
                        <div class="b-rating__info">—  Столкнулись с отказом в оказании медицинской помощи?</div>
                        <div class="b-rating__info">—  Не можете попасть к врачу или на исследование?</div>
                        <div class="b-rating__info">—  Не помог ваш страховой представитель?</div>
                        <div class="b-rating__bottom">
                            <a href="{{ path('app_insurancecompany_feedback_new') }}" class="b-rating__button btn2">Оставить отзыв</a>
                        </div>
                    </div>

                    <div class="b-rating__part b-rating__part--block">
                        <div class="b-rating__block">
                            <div class="b-rating__part-title">Топ страховых компаний в {{ _region }}</div>
                            <div class="b-rating__items">
                                {% for i, company in companyRating %}
                                    <div class="b-rating__item">
                                        <a class="b-rating__item-title" href="{{ path('company_review_list', { slug: company[0].slug }) }}">{{ company[0].name }}</a>
                                        <div class="b-rating__item-star">
                                            {% if company.actualRating > 0 %}
                                                {% set actualRating = (company.actualRating | round)%}
                                                <div style="display: none"> {{ actualRating }}</div>
                                                {% for i in 1..actualRating %}
                                                    <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                                        <svg class="svg-icon__link">
                                                            <use xlink:href="#star"></use>
                                                        </svg>
                                                    </div>
                                                {% endfor %}
                                                {% if actualRating < 5 %}
                                                    {% set hiddenRating = (actualRating + 1) %}
                                                    {% for j in hiddenRating..5 %}
                                                        <div class="svg-icon svg-icon--star" aria-hidden="true">
                                                            <svg class="svg-icon__link">
                                                                <use xlink:href="#star"></use>
                                                            </svg>
                                                        </div>
                                                    {% endfor %}
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="b-rating__more">
                                <a href="{% if region %}{{ path('app_insurancecompany_feedback_index', { filter: {region: region.id} }) }}{% else %}'#'{% endif %}">Весь рейтинг
                                    <div class="svg-icon svg-icon--arrow" aria-hidden="true">
                                        <svg class="svg-icon__link">
                                            <use xlink:href="#arrow"></use>
                                        </svg>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div><!-- b-rating -->

        <div id="reviews" class="b-reviews">
            <div class="b-reviews__content site-width">
                <div class="b-reviews__header">
                    <h3 class="b-reviews__title">Отзывы о страховых компаниях</h3>
                    <a href="{{ path("app_insurancecompany_feedback_index") }}" class="b-reviews__button btn">Все отзывы</a>
                </div>
                <div class="b-reviews__inner">
                    <div class="b-reviews__slider">
                        {% for feedback in feedbacks %}
                            <div class="b-reviews__item-wrap">
                                <div class="b-reviews__item">
                                    <div class="b-reviews__star">
                                        {% if feedback.valuation > 0 %}
                                            {% for i in 1..feedback.valuation %}
                                                <div class="svg-icon svg-icon--star active" aria-hidden="true">
                                                    <svg class="svg-icon__link">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                        {% if feedback.valuation < 5 %}
                                            {% for i in (feedback.valuation +1)..5 %}
                                                <div class="svg-icon svg-icon--star" aria-hidden="true">
                                                    <svg class="svg-icon__link">
                                                        <use xlink:href="#star"></use>
                                                    </svg>
                                                </div>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <div class="b-reviews__item-text">
                                        <a class="b-reviews__item-link" href="{{ path('app_insurancecompany_feedback_show', { id: feedback.id }) }}">
                                            {{ feedback.text }}
                                        </a>
                                    </div>
                                    <div class="b-reviews__item-content">
                                        <div class="b-reviews__item-user">
                                            <div class="b-reviews__item-icon">

                                                <div class="svg-icon svg-icon--lk" aria-hidden="true">
                                                    <svg class="svg-icon__link">
                                                        <use xlink:href="#lk"></use>
                                                    </svg>
                                                </div>

                                            </div>
                                            <div class="b-reviews__item-in">
                                                <div class="b-reviews__item-name">{{ feedback.authorName }}</div>
                                                <div class="b-reviews__item-date"> {{ feedback.createdAt|prepareDate("d F, Y") }}</div>
                                            </div>
                                        </div>
                                        <div class="b-reviews__item-logo">
                                            {{ render(controller('AppBundle:InsuranceCompany/Company:_logoPanel',
                                                {
                                                    'logo_id': (feedback.branch ? feedback.branch.logoIdFromBitrix : null),
                                                    'name': (feedback.branch ? feedback.branch.name : '')
                                                } )) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!-- b-reviews -->

        <div id="faq" class="b-question">
            <div class="b-question__content site-width">
                <div class="b-question__block">
                    <h3 class="b-question__title">Вопрос-ответ</h3>
                    {% for question in questions %}
                        <div class="b-question__item">
                            <div class="b-question__item-title">

                                <div class="svg-icon svg-icon--question" aria-hidden="true">
                                    <svg class="svg-icon__link">
                                        <use xlink:href="#question"></use>
                                    </svg>
                                </div>
                                {{ question.question }}
                            </div>
                            <div class="b-question__item-text">
                                {{ question.answer | raw }}
                            </div>
                        </div>
                    {% endfor %}
                    {% if (questions_count > 3) %}
                        <a class="b-question__button btn" style="margin-top: 10px" href="{{ path('questions') }}">Все вопросы и ответы</a>
                    {% endif %}
                </div>
                <div class="b-question__image">
                    <img src="/landing/img/oic_question.svg" alt="">
                </div>
            </div>
        </div><!-- b-question -->

        {% include '@App/_numbers.html.twig' with {'numbers': numbers}%}
        <div class="b-return">
            <div class="b-return__content site-width">
                <div class="b-return__image b-return__image--left">
                    <img src="/landing/img/pic_woman.svg" alt="">
                </div>
                <div class="b-return__image b-return__image--right">
                    <img src="/landing/img/pic_man.svg" alt="">
                </div>
                <h2 class="b-return__title">Верните деньги</h2>
                <div class="b-return__text">за лечение в клиниках, работающих в системе обязательного медицинского страхования.</div>

                <div class="b-return__block">
                    {% include '@App/_obrashcheniya.html.twig' with {'formid': 'form-1', 'form': forms[1]}%}
                </div>
                <div class="b-return__link">
                    <a href="#">Рейтинг страховых компаний</a>
                </div>
            </div>
        </div><!-- b-return -->

        <div id="insider" class="b-insider">
            <div class="b-insider__content site-width">
                <div class="b-insider__header">
                    <h3 class="b-insider__title">Медицинский инсайдер</h3>
                    <a href="{{ path("news_list") }}" class="b-insider__button btn">Все статьи</a>
                </div>
                <div class="b-insider__inner">
                    <div class="b-insider__slider">
                        {% for item in news %}
                            <div class="b-insider__item-wrap">
                                <div class="b-insider__item">
                                    {% if image_exists(item) %}
                                        <div style="background-image: url({{ image_thumbnail_url(item, null, 'main_lg') }});"
                                             class="b-insider__item-image">
                                            <a href="{{ path('news_show', { slug: item.slug }) }}" class="b-insider__item-link">
                                                <img src="{{ image_thumbnail_url(item, null, 'main_lg') }}" alt="">
                                            </a>
                                        </div>
                                    {% endif %}
                                    <div class="b-insider__item-content">
                                        <div class="b-insider__item-title">
                                            <a href="{{ path('news_show', { slug: item.slug }) }}" class="b-insider__item-link">
                                                {{ item.title }}
                                            </a>
                                        </div>
                                        <div class="b-insider__item-text">
                                            <a href="{{ path('news_show', { slug: item.slug }) }}" class="b-insider__item-link">
                                                {{ item.announce | raw }}
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!-- b-insider -->
    </div><!-- b:m-content -->
{% endblock %}