{% extends "legacy/base.html.twig" %}

{% set title = 'Вопрос-ответ' %}

{% block meta %}
    {{ parent() }}
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="/local/templates/kdteam/pages/news/news.min.css" type="text/css" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/kdteam/js/main.min.js"></script>
    <script type="text/javascript" src="/local/templates/kdteam/pages/news/news.min.js"></script>
    {{ parent() }}
{% endblock %}

{% block main %}
    <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% if is_mobile() or is_tablet() %}
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="{{ path("news_list") }}" class="active-breadcrumbs" itemprop="item">{{ title }}
                    <meta itemprop="name" content="{{ title }}">
                </a>
                <meta itemprop="position" content="1">
            </li>
        {% else %}
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="/" itemprop="item">Главная
                    <meta itemprop="name" content="Главная">
                </a>
                <meta itemprop="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item">Вопрос-ответ
                    <meta itemprop="name" content="Вопрос-ответ">
                </a>
                <meta itemprop="position" content="2">
            </li>
        {% endif %}
    </ul>
    <div class="white_block">
        <style>
            p {
                text-indent: 30px; /* Отступ первой строки в пикселах */
            }
        </style>
        <h1 class="page-title">Вопрос-ответ</h1>
        {% for question in questions %}
            <h3>{{ question.question }}</h3>
            <p>{{ question.answer | raw }}</p>
        {% endfor %}
    </div>
{% endblock %}
