{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/landing/css/app.css"> #}
    {# стили которые собираются дефолтной задачей gulp #}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/oms-charge-complaint/main.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">urlPrefix = '{{ app.request.getBaseURL() }}'
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/dist/bundle.js"></script>
    <script> $(".formarea__title__question-mark__image").tooltip({
            tooltipClass: "jq-tooltip",
            position: { my: "left+18 bottom-18" }
        })</script>
    <script> $(".form-item__radio__labelarea__question-mark__image").tooltip({
            tooltipClass: "jq-tooltip jq-tooltip_big",
            position: { my: "left+18 bottom-18" }
        })</script>
    <script> $(".form-item_phone-field__question-mark").tooltip({
            tooltipClass: "jq-tooltip jq-tooltip_big",
            position: { my: "left+18 bottom-18" }
        })</script>

{% endblock %}


{% block main %}
    <div class="app__content">
        <div class="roadmap">
             <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">1</div>
                    </div>
                    <div class="roadmap__item__description">Регион <br>
                         и год</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">2</div>
                    </div>
                    <div class="roadmap__item__description">Больница</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">3</div>
                    </div>
                    <div class="roadmap__item__description">Каким было обращение</div>
                </div>
                <div class="roadmap__item roadmap__item_current">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step4.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div>Результат</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
            <div class="formarea__title">
                <div class="formarea__title__name">
                    Заболевание
                </div>
                <div class="formarea__title__question-mark">
                    <div class="formarea__title__question-mark__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question.svg') }}" title="Укажите заболевание по поводу которого вы
                        обратились
                        за медицинской помощью.
                        Если точного диагноза вы не знаете, укажите наиболее близкий к нему.">
                    </div>
                </div>
            </div>
            <form>
                <div class="formarea__form-field">
                    <div class="form-item">
                        <input type="text" class="form-item__input" placeholder="Начните вводить наименование">
                        <div class="form-item__exist">
                            <a href="#">Заболевания нет в списке?</a>
                            <div class="form-item__error-message">Заболевания нет в списке</div>
                        </div>
                    </div>
                </div>
                <div class="formarea__note">Медицинская помощь в соответствии с имеющимися стандартами не может быть
                    предоставлена бесплатно (по полису ОМС).
                </div>
                <div class="formarea__buttonarea">
                    <div class="formarea__buttonarea__buttons">
                        <button class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                        </button>
                        <button class="btn2 formarea__buttonarea__buttons__next-button">Узнать результат <img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">Плановое</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Заболевание</div>
                    <div class="formarea__description__item__formfield-value">ОРВИ</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
