{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/landing/css/app.css"> #}
    {# стили которые собираются дефолтной задачей gulp #}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/oms-charge-complaint/main.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">urlPrefix = '{{ app.request.getBaseURL() }}'
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/dist/bundle.js"></script>
    <script> $(".formarea__title__question-mark__image").tooltip({
            tooltipClass: "jq-tooltip",
            position: { my: "left+18 bottom-18" }
        })</script>
    <script> $(".form-item__radio__labelarea__question-mark__image").tooltip({
            tooltipClass: "jq-tooltip jq-tooltip_big",
            position: { my: "left+18 bottom-18" }
        })</script>
    <script> $(".form-item_phone-field__question-mark").tooltip({
            tooltipClass: "jq-tooltip jq-tooltip_big",
            position: { my: "left+18 bottom-18" }
        })</script>

{% endblock %}


{% block main %}
    <div class="app__content">
        <div class="roadmap">
            {# <div class="roadmap__wrap">
                <div class="roadmap__item roadmap__item_current">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step1.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Регион <br>и год</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">2</div>
                    </div>
                    <div>Больница</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">3</div>
                    </div>
                    <div>Каким было обращение</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">4</div>
                    </div>
                    <div>Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div>Результат</div>
                </div>
            </div> #}
            {# <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">1</div>
                    </div>
                    <div>Регион<br> и год</div>
                </div>
                <div class="roadmap__item roadmap__item_current">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step2.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Больница</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">3</div>
                    </div>
                    <div>Каким было обращение</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">4</div>
                    </div>
                    <div>Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div>Результат</div>
                </div>
            </div> #}
            {# <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">1</div>
                    </div>
                    <div>Регион <br>и год</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">2</div>
                    </div>
                    <div class="roadmap__item__description">Больница</div>
                </div>
                <div class="roadmap__item roadmap__item_current">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step3.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Каким было обращение</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">4</div>
                    </div>
                    <div>Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div>Результат</div>
                </div>
            </div> #}
            {# <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">1</div>
                    </div>
                    <div class="roadmap__item__description">Регион <br>
                         и год</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">2</div>
                    </div>
                    <div class="roadmap__item__description">Больница</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">3</div>
                    </div>
                    <div class="roadmap__item__description">Каким было обращение</div>
                </div>
                <div class="roadmap__item roadmap__item_current">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step4.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div>Результат</div>
                </div>
            </div> #}
            {# <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">1</div>
                    </div>
                    <div class="roadmap__item__description">Регион <br>
                        и год
                    </div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">2</div>
                    </div>
                    <div class="roadmap__item__description">Больница</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">3</div>
                    </div>
                    <div class="roadmap__item__description">Каким было обращение</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">4</div>
                    </div>
                    <div class="roadmap__item__description">Заболевание</div>
                </div>
                <div class="roadmap__item roadmap__item_current ">
                    <div class="roadmap__item__image insurance-case_success">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step5-success.svg') }}">
                    </div>
                    <div class="roadmap__item__image insurance-case_reject">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step5-reject.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Результат</div>
                </div>
            </div> #}
            {# <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">2</div>
                    </div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">3</div>
                    </div>
                    <div class="roadmap__item__description">Каким было обращение</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">4</div>
                    </div>
                    <div class="roadmap__item__description">Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div class="roadmap__item__description">Результат</div>
                </div>
                <div class="roadmap__item roadmap__item_current ">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step6.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Оформить обращение</div>
                </div>
            </div> #}
            <div class="roadmap__wrap">
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-prev-step-arrow.svg') }}">
                    </div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">4</div>
                    </div>
                    <div class="roadmap__item__description">Заболевание</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">5</div>
                    </div>
                    <div class="roadmap__item__description">Результат</div>
                </div>
                <div class="roadmap__item">
                    <div class="roadmap__item__image">
                        <div class="step-number">6</div>
                    </div>
                    <div class="roadmap__item__description">Оформить обращение</div>
                </div>
                <div class="roadmap__item roadmap__item_current ">
                    <div class="roadmap__item__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-roadmap-step7.svg') }}">
                    </div>
                    <div class="roadmap__item__description">Обращение отправлено</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
            <div class="formarea__title">
                <div class="formarea__title__name">
                    Регион и год оказания услуги
                </div>
                <div class="formarea__title__question-mark">
                    <div class="formarea__title__question-mark__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question.svg') }}" class="123" title="Обращение в медицинскую организацию, не связанное
                        с ухудшением
                        здоровья.
                        Это обращение “без жалоб”,
                        когда вы приходите, чтобы пройти очередное обследование по поводу имеющегося хронического
                        заболевания для контроля состояния и лечения. При этом важно, что ухудшения состояния нет.
                        Также к
                        плановым обращениям относятся визиты для прохождения профилактичес- ких осмотров,
                        диспансеризации.">
                    </div>
                </div>
            </div>
            <form>
                <div class="formarea__form-field">
                    <div class="form-item">
                        <input type="text" class="form-item__input">
                    </div>
                    <div class="form-item">
                        <select>
                            <option>2021</option>
                            <option>2020</option>
                            <option>2019</option>
                        </select>
                    </div>
                </div>
                <div class="formarea__buttonarea">
                    <div class="formarea__buttonarea__buttons">
                        <button class="btn2 formarea__buttonarea__buttons__next-button">К выбору обращения <img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
            <div class="formarea__title">
                <div class="formarea__title__name">
                    Медицинская организация
                </div>
                <div class="formarea__title__question-mark">
                    <div class="formarea__title__question-mark__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question.svg') }}" title="Обращение в медицинскую организацию, не связанное
                        с ухудшением
                        здоровья.
                        Это обращение “без жалоб”,
                        когда вы приходите, чтобы пройти очередное обследование по поводу имеющегося хронического
                        заболевания для контроля состояния и лечения. При этом важно, что ухудшения состояния нет.
                        Также к
                        плановым обращениям относятся визиты для прохождения профилактичес- ких осмотров,
                        диспансеризации.">
                    </div>
                </div>
            </div>
            <form>
                <div class="formarea__form-field">
                    <div class="form-item">
                        <input type="text" class="form-item__input">
                        <div class="form-item__exist">
                            <a href="#">Организации нет в списке?</a>
                            <div class="form-item__error-message">Организации нет в списке</div>
                        </div>
                    </div>
                </div>
                <div class="formarea__note">Медицинская помощь в соответствии с имеющимися стандартами не может быть
                    предоставлена бесплатно (по полису ОМС).
                </div>
                <div class="formarea__buttonarea">
                    <div class="formarea__buttonarea__buttons">
                        <button class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                        </button>
                        <button class="btn2 formarea__buttonarea__buttons__next-button">К выбору обращения <img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
            <div class="formarea__title">
                <div class="formarea__title__name">
                    Каким было обращение?
                </div>
            </div>
            <form>
                <div class="formarea__form-field">
                    <div class="form-item">
                        <label for="scheduled-treatment" class="form-item form-item__radio">
                            <input type="radio" id="scheduled-treatment" name="type-of-treatment">
                            <div class="form-item__radio__labelarea">
                                <div class="form-item__radio__labelarea__name">Плановое</div>
                                <div class="form-item__radio__labelarea__question-mark" >
                                    <div class="form-item__radio__labelarea__question-mark__image">
                                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question-grey.svg') }}" title="Не связанное с
                                        ухудшением
                                        здоровья.
                                        Прохождение очередного обследования по хроническому заболеванию для контроля
                                        состояния и
                                        лечения. При этом важно, что ухудшения состояния нет. Также сюда относятся
                                        профилактические осмотры, диспансеризация.">
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                    <div class="form-item">
                        <label for="urgent-treatment" class="form-item form-item__radio">
                            <input class="asd" type="radio" id="urgent-treatment" name="type-of-treatment">
                            <div class="form-item__radio__labelarea">
                                <div class="form-item__radio__labelarea__name">Неотложное</div>

                                <div class="form-item__radio__labelarea__question-mark">
                                    <div class="form-item__radio__labelarea__question-mark__image">
                                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question-grey.svg') }}" title="Любое обращение
                                        вызванное ухудшением
                                        состояния здоровья. Ухудшение может быть связано с хроническим заболеванием
                                        (обострение) или с острым (например, ОРВИ).
                                        Не важно, когда произошло ухудшение - день или неделю назад.">
                                    </div>
                                </div>
                            </div>
                        </label>
                    </div>
                </div>
                <div class="formarea__buttonarea">
                    <div class="formarea__buttonarea__buttons">
                        <button class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                        </button>
                        <button class="btn2 formarea__buttonarea__buttons__next-button">К выбору заболевания <img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">Плановое</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
            <div class="formarea__title">
                <div class="formarea__title__name">
                    Заболевание
                </div>
                <div class="formarea__title__question-mark">
                    <div class="formarea__title__question-mark__image">
                        <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question.svg') }}" title="Укажите заболевание по поводу которого вы
                        обратились
                        за медицинской помощью.
                        Если точного диагноза вы не знаете, укажите наиболее близкий к нему.">
                    </div>
                </div>
            </div>
            <form>
                <div class="formarea__form-field">
                    <div class="form-item">
                        <input type="text" class="form-item__input" placeholder="Начните вводить наименование">
                        <div class="form-item__exist">
                            <a href="#">Заболевания нет в списке?</a>
                            <div class="form-item__error-message">Заболевания нет в списке</div>
                        </div>
                    </div>
                </div>
                <div class="formarea__note">Медицинская помощь в соответствии с имеющимися стандартами не может быть
                    предоставлена бесплатно (по полису ОМС).
                </div>
                <div class="formarea__buttonarea">
                    <div class="formarea__buttonarea__buttons">
                        <button class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                        </button>
                        <button class="btn2 formarea__buttonarea__buttons__next-button">Узнать результат <img
                                    src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                        </button>
                    </div>
                </div>
            </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">Плановое</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Заболевание</div>
                    <div class="formarea__description__item__formfield-value">ОРВИ</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
                <div class="formarea__image insurance-case_success">
                    <img src="{{ asset('gulp/images/svg/oms-charge-complaint-insurance-case-success.svg') }}">
                </div>
                <div class="formarea__image insurance-case_reject">
                    <img src="{{ asset('gulp/images/svg/oms-charge-complaint-insurance-case-reject.svg') }}">
                </div>
                <div class="formarea__title formarea__title_insurance-case insurance-case_success">
                    Случай является страховым
                </div>
                <div class="formarea__title formarea__title_insurance-case insurance-case_reject">
                    НЕ страховой случай
                </div>
                <div class="formarea__note insurance-case_note insurance-case_reject">Медицинская помощь в соответствии
                    с
                    имеющимися стандартами не может быть
                    предоставлена бесплатно (по полису ОМС).
                </div>
                <div class="formarea__note insurance-case_note insurance-case_success">Медицинская помощь в соответствии
                    с
                    имеющимися стандартами
                    должна&nbsp;быть предоставлена бесплатно (по полису ОМС).
                </div>
                <form>
                    <div class="formarea__form-title insurance-case_success">Для продолжения вам нужно войти в личный
                        кабинет
                    </div>
                    <div class="formarea__form-field insurance-case_success">
                        <div class="form-item">
                            <input type="email" placeholder="Почта" required>
                        </div>
                        <div class="form-item">
                            <input type="checkbox">
                            <div class="hidden-password"></div>
                            <input type="text" placeholder="Пароль" required>
                        </div>
                    </div>
                    <div class="formarea__buttonarea insurance-case_success">
                        <div class="formarea__buttonarea__buttons">
                            <button class="btn2 formarea__buttonarea__buttons__next-button">
                                <div>Войти и сформировать обращение</div>
                            </button>
                        </div>
                    </div>
                    <div class="formarea__buttonarea insurance-case_reject">
                        <div class="formarea__buttonarea__buttons">
                            <button class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                            </button>
                            <button class="btn2 formarea__buttonarea__buttons__next-button">
                                <div class="insurance-case_reject">На главную</div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">Плановое</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Заболевание</div>
                    <div class="formarea__description__item__formfield-value">ОРВИ</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
                <div class="formarea__title">
                    Данные пациента
                </div>
                <form>
                    <div class="formarea__form-field">
                        <div class="form-item">
                            <input type="text" placeholder="Фамилия" required>
                        </div>
                        <div class="form-item">
                            <input type="text" placeholder="Имя" required>
                        </div>
                        <div class="form-item">
                            <input type="text" placeholder="Отчество" required>
                        </div>
                        <div class="form-item">
                            <input type="date" placeholder="Дата рождения">
                        </div>
                        <div class="form-item">
                            <input type="text" placeholder="Номер полиса" required>
                        </div>
                        <div class="form-item">
                            <input type="text" placeholder="Регион страховой компании" required>
                        </div>
                        <div class="form-item">
                            <input type="text" placeholder="Страховая компания" required>
                        </div>
                        <div class="form-item">
                            <input type="date" placeholder="Дата оплаты услуги" required>
                        </div>
                        <div class="form-item form-item_file-field">
                            <button type="button"><img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-file-blank.svg') }}"/>
                            </button>
                            <div class="form-item_file-field__file-info">Скан квитанции.pdf <br> 1.1 MB</div>
                            <button type="button"><img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-file-trash.svg') }}"/>
                            </button>
                        </div>
                        <div class="form-item">
                            <input type="file" id="file-input" multiple accept="image/jpeg,image/pdf" required>
                            <label for="file-input" class="file-input-label">
                                <div class="file-input-label__description">Перенесите или <a>Загрузите</a>
                                    сюда документы об оплате
                                </div>
                                <div class="file-input-label__description file-input-label__description_mobile"><a>Загрузите</a>
                                    документы об оплате
                                </div>
                                <div class="file-input-label__file-types">jpeg или pdf</div>
                            </label>
                        </div>
                        <div class="form-item form-item_phone-field">
                            <div class="form-item_phone-field__question-mark">
                                <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question-grey.svg') }}" title="Укажите телефон заявителя обращения">
                            </div>
                            <input type="phone" placeholder="+7 (xxx) xxx-xx-xx"
                                   pattern="7[0-9]{8}" required>
                        </div>
                        <div class="form-item form-item_error">
                            <input type="text" placeholder="SMS-код" required>
                            <div class="form-item__exist">
                                <a href="#">Посмотреть сформированное обращение</a>
                                <div class="form-item__error-message">Не верный код</div>
                            </div>
                            <button class="form-item__send-code-button">Подтвердить</button>
                            <button class="form-item__send-code-button form-item__send-code-button-again">Отправить ещё раз <img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-refresh-icon.svg') }}"></button>
                        </div>
                    </div>
                    <div class="formarea__buttonarea">
                        <div class="formarea__buttonarea__buttons">
                            <button class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                            </button>
                            <button class="btn2 formarea__buttonarea__buttons__next-button">Отправить обращение<img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                            </button>
                        </div>
                        <div class="formarea__buttonarea__description">Нажимая на кнопку «Отправить обращение» вы
                            соглашаетесь
                            с&nbsp;<a href="#">политикой&nbsp;конфиденциальности</a> и правилами <a href="#">предоставления
                                услуг</a></div>
                    </div>
                </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">Плановое</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Заболевание</div>
                    <div class="formarea__description__item__formfield-value">ОРВИ</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Фамилия</div>
                    <div class="formarea__description__item__formfield-value">Фамилия</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Имя</div>
                    <div class="formarea__description__item__formfield-value">Имя</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Телефон</div>
                    <div class="formarea__description__item__formfield-value">+7 (ххх) ххх-хх-хх</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">Регион</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Страховая компания</div>
                    <div class="formarea__description__item__formfield-value">Страховая компания</div>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="formarea">
                <div class="formarea__image">
                    <img src="{{ asset('gulp/images/svg/oms-charge-complaint-insurance-case-success.svg') }}">
                </div>
                <div class="formarea__title formarea__title_insurance-case">
                    Обращение отправлено <br>
                    в страховую
                </div>
                <form>
                    <div class="formarea__buttonarea">
                        <div class="formarea__buttonarea__buttons">
                            <button class="btn2 formarea__buttonarea__buttons__next-button">
                                <div>На главную</div>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">15 Республика Северная Осетия-Алания</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">2021</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">Доктор плюс</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">Плановое</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Заболевание</div>
                    <div class="formarea__description__item__formfield-value">ОРВИ</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Фамилия</div>
                    <div class="formarea__description__item__formfield-value">Фамилия</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Имя</div>
                    <div class="formarea__description__item__formfield-value">Имя</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Телефон</div>
                    <div class="formarea__description__item__formfield-value">+7 (ххх) ххх-хх-хх</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">Регион</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Страховая компания</div>
                    <div class="formarea__description__item__formfield-value">Страховая компания</div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
