{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {# <link rel="stylesheet" href="/landing/css/app.css"> #}
    {# стили которые собираются дефолтной задачей gulp #}
    <link rel="stylesheet" href="/local/templates/kdteam/pages/landing/landing.min.css">
    <link rel="stylesheet" href="/local/templates/kdteam/pages/oms-charge-complaint/main.min.css">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">urlPrefix = '{{ app.request.getBaseURL() }}'
    </script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/dist/bundle.js"></script>
    <script src="/local/templates/kdteam/pages/oms-charge-complaint/main.min.js"></script>
{% endblock %}


{% block main %}
    <div class="app__content">
        {% include "AppBundle:OmsChargeComplaint:_roadmap.html.twig" with { step: 4 } %}
        <div class="form">
            <div class="formarea">
                <div class="formarea__title">
                    <div class="formarea__title__name">
                        Заболевание
                    </div>
                    <div class="formarea__title__question-mark">
                        <div class="formarea__title__question-mark__image">
                            <img src="{{ asset('gulp/images/svg/oms-charge-complaint-question.svg') }}" title="Укажите заболевание по поводу которого вы
                        обратились
                        за медицинской помощью.
                        Если точного диагноза вы не знаете, укажите наиболее близкий к нему.">
                        </div>
                    </div>
                </div>
                {{ form_start(form) }}
                    <div class="formarea__form-field">
                        <div class="form-item">
{#                            <input type="text" class="form-item__input" placeholder="Начните вводить наименование">#}
                            {{ form_widget(form, {'attr' : {'class': 'form-item__input', 'placeholder': 'Начните вводить наименование'}}) }}
                            <div class="form-item__exist">
                                <a href="{{ path('not_insurance_case') }}">Заболевания нет в списке?</a>
                                <div class="form-item__error-message">Заболевания нет в списке</div>
                            </div>
                        </div>
                    </div>
                    <div class="formarea__note">Медицинская помощь в соответствии с имеющимися стандартами не может быть
                        предоставлена бесплатно (по полису ОМС).
                    </div>
                    <div class="formarea__buttonarea">
                        <div class="formarea__buttonarea__buttons">
                            <a href="{{ path('oms_charge_complaint_3rd_step') }}" class="btn2 formarea__buttonarea__buttons__prev-button"><img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-prev-step-arrow.svg') }}">Назад
                            </a>
                            <button class="btn2 formarea__buttonarea__buttons__next-button">Узнать результат <img
                                        src="{{ asset('gulp/images/svg/oms-charge-complaint-next-step-arrow.svg') }}">
                            </button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div>
            <input id="sidebar-expand" type="checkbox" class="formarea-description-sidebar-expand">
            <label for="sidebar-expand" class="formarea-description-sidebar-expand-label"><img src="{{ asset('gulp/images/svg/oms-charge-complaint-sidebar-expand.svg') }}"></label>
            <div class="formarea__description">
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Регион</div>
                    <div class="formarea__description__item__formfield-value">{{ complaintDraft.region ? complaintDraft.region.name : '' }}</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Год оказания услуги</div>
                    <div class="formarea__description__item__formfield-value">{{ complaintDraft.year }}</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Медицинская организация</div>
                    <div class="formarea__description__item__formfield-value">{{ complaintDraft.medicalOrganization ? complaintDraft.medicalOrganization.name : '' }}</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Обращение</div>
                    <div class="formarea__description__item__formfield-value">{{ complaintDraft.urgent ? 'Неотложное' : 'Плановое' }}</div>
                </div>
                <div class="formarea__description__item">
                    <div class="formarea__description__item__formfield-name">Заболевание</div>
                    <div class="formarea__description__item__formfield-value">{{ complaintDraft.disease ? complaintDraft.disease.name : '' }}</div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
