{% if image_exists(branch.company) %}
    {% if disableLink %}
        <img src="{{ image_url(branch.company) }}" class="logo-company"
             alt="Логотип страховой медицинской организации {{ branch.name }}"/>
    {% else %}
        <a href="{{ path('company_review_list', { 'slug': branch.company.slug }) }}"
           title="Отзывы о страховой медицинской организации {{ branch.name }}">
            <img src="{{ image_url(branch.company) }}" class="logo-company"
                 alt="Логотип страховой медицинской организации {{ branch.name }}"/>
        </a>
    {% endif %}
{% endif %}