{% if src %}
    {% if disableLink %}
        <img src="{{ src }}" alt="Логотип страховой медицинской организации {{ name }}"/>
    {% else %}
        <a href="{{ path('company_review_list', { 'slug': slug }) }}" title="Отзывы о страховой медицинской организации {{ name }}">
            <img src="{{ src }}" alt="Логотип страховой медицинской организации {{ name }}"/>
        </a>
    {% endif %}
{% endif %}
