{% extends "base.html.twig" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="index, follow"/>
    <meta name="title" content="Рейтинг страховых компаний работающих в системе ОМС"/>
    <meta name="keywords"
          content="медицинское страхование отзывы, бесплатное лечение, бесплатная медицинская помощь, рейтинг медицинских страховых компаний омс в москве"/>
    <meta name="description" content="Рейтинг страховых компаний работающих в системе ОМС"/>
{% endblock %}

{% block title %}Рейтинг страховых компаний работающих в системе ОМС{% endblock %}

{% block stylesheets %}
    <link href="/local/templates/kdteam/pages/feedback/main.min.css?158626847510518" type="text/css" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/kdteam/js/main.min.js?1593497507172695"></script>
    <script type="text/javascript" src="/local/templates/kdteam/pages/feedback/main.min.js?15862684754547"></script>
    <script type="text/javascript" src="/local/templates/kdteam/js/readmore.min.js?1586268475879"></script>
    {{ parent() }}
{% endblock %}


{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumbs">
        {% if is_mobile() or is_tablet() %}
            <li class="active-breadcrumbs"><a href="/" class="">Отзывы</a></li>
        {% else %}
            <li><a href="/">Главная</a></li>
            <li class="active-breadcrumbs">Отзывы</li>
        {% endif %}
    </ul>

    <!-- Pages Title -->
    <h1 class="page-title">Отзывы о страховых медицинских организациях</h1>

    <!-- ALL STEPS IN FORM -->
    <form action="" class="white_block">

        <!-- Add and All feedback btns -->
        <div class="feedback__btns">
            <a href="/add-feedback/" class="whiteBtn">Добавить отзыв</a>
            <a href="?comments=all" class="accentBtnBorder">Все отзывы</a>
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{ urlBuilder.buildUrl({ filter: { moderation: 0 }}) }}" class="accentBtnBorder">Модерация отзывов</a>
            {% endif %}
        </div>

        <div class="feedback__filter">
            {{ form_row(filterForm.company) }}
            {{ form_row(filterForm.rating) }}
            {{ form_row(filterForm.region) }}
            {#                        <div class="custom-select column-reverse_select">#}
            {#                            <select style="display: none" onchange="window.open(this.value)">#}

            {#                                <option value="0">Оценка</option>#}
            {#                                <?php#}
            {#                            $bool_check_evalution = false;#}
            {#                            $check_evalution = "";#}
            {#                            if (isset($_GET["property_evaluation"]) || isset($_GET["property_name_company"]) || isset($_GET["property_region"]) || isset($_GET["property_kpp"])) {#}


            {#                                $url_for_filter = "?";#}

            {#                                foreach ($sort_url as $key => $filter) {#}
            {#                                if ($key != "property_evaluation") {#}
            {#                                $url_for_filter .= "$key=$filter&";#}
            {#                                }#}
            {#                                }#}

            {#                                for ($i = 1; $i <= 5; ++$i) {#}
            {#                                if ($url_for_filter == "") {#}
            {#                                $url_for_filter = "?";#}
            {#                                }#}
            {#                                if ($_GET["property_evaluation"] != $i) {#}

            {#                                ?>#}
            {#                                <option value="<?= $url_for_filter ?>property_evaluation=<?= $i ?>" class="number_star">#}
            {#                                    Оценки <?= $i ?>#}
            {#                                </option>#}
            {#                                <?php } else {#}
            {#                                        if ($url_for_filter == "?") {#}
            {#                                            $url_for_filter = "";#}
            {#                                        }#}
            {#                                        $bool_check_evalution = true;#}
            {#                                        $check_evalution = $i;#}
            {#                                        ?>#}
            {#                                <option value="<?= $url_for_filter ?>" class="number_star activ_filter">#}
            {#                                    Оценки <?= $i ?>#}
            {#                                </option>#}

            {#                                <?#}
            {#                                    }#}
            {#                                }#}
            {#                            } else {#}
            {#                                for ($i = 1; $i <= 5; ++$i) {#}
            {#                                    ?>#}

            {#                                <option value="?property_evaluation=<?= $i ?>" class="number_star">Оценки <?= $i ?>#}
            {#                                </option>#}
            {#                                <? }#}
            {#                            } ?>#}


            {#                            </select>#}
            {#                            <?php if (isset($_GET["property_evaluation"]) || isset($_GET["property_kpp"]) || isset($_GET["property_region"])) {#}
            {#                            if ($bool_check_evalution === true) {#}

            {#                                $url_for_filter = "?";#}
            {#                                foreach ($sort_url as $key => $filter) {#}

            {#                            if ($key != "property_evaluation" && $key!="PAGEN_1") {#}
            {#                            $url_for_filter .= "$key=$filter&";#}
            {#                            }#}
            {#                            }#}
            {#                            if ($url_for_filter == "?") {#}
            {#                            $url_for_filter = "/feedback/";#}
            {#                            }#}
            {#                            ?>#}
            {#                            <a data-tooltip="Очистить оценку" data-position="bottom" class="refresh_active-link bottom"#}
            {#                               href="<?= $url_for_filter ?>">#}
            {#                                <div class="activ_filter after-select_activ-filter">#}
            {#                                    Оценка <?= $check_evalution ?></div>#}
            {#                            </a>#}
            {#                            <? }#}
            {#                        } ?>#}

            {#                        </div>#}

            {#                        <div class="custom-select column-reverse_select">#}
            {#                            <select style="display: none" onchange="window.open(this.value)">#}
            {#                                <option value="0">Регион</option>#}
            {#                                <?php#}
            {#                            $name_region = "";#}
            {#                            $order = Array("name" => "asc");#}
            {#                                $arFilter = Array("IBLOCK_ID" => 16);#}
            {#                                $Section_filter = CIBlockSection::GetList($order, $arFilter, false);#}
            {#                                if (isset($_GET["property_evaluation"]) || isset($_GET["property_name_company"]) ||#}
            {#                                isset($_GET["property_region"]) || isset($_GET["property_kpp"])) {#}
            {#                                while ($ob_section_filter = $Section_filter->GetNext()) {#}
            {#                                if ($_GET["property_region"] != $ob_section_filter["ID"]) {#}
            {#                                $url_for_filter = "?";#}
            {#                                foreach ($sort_url as $key => $filter) {#}
            {#                                if ($key != "property_region") {#}
            {#                                $url_for_filter .= "$key=$filter&";#}
            {#                                }#}
            {#                                }#}
            {#                                ?>#}
            {#                                <option class="sidebar__item_lists_list"#}
            {#                                        value="<?= $url_for_filter ?>property_region=<?= $ob_section_filter[" ID#}
            {#                                "] ?>">#}
            {#                                <?= $ob_section_filter["NAME"] ?>#}
            {#                                </option>#}
            {#                                <? } else {#}
            {#                                        $url_for_filter = "?";#}
            {#                                        $bool_check_region = true;#}

            {#                                        $name_region = $ob_section_filter["NAME"];#}
            {#                                        foreach ($sort_url as $key => $filter) {#}
            {#                                if ($key != "property_region") {#}
            {#                                $url_for_filter .= "$key=$filter&";#}
            {#                                }#}
            {#                                }#}
            {#                                if ($url_for_filter == "?") {#}
            {#                                $url_for_filter = "";#}
            {#                                }#}
            {#                                ?>#}
            {#                                <option class="activ_filter" value="<?= $url_for_filter ?>">#}
            {#                                    <?= $ob_section_filter["NAME"] ?>#}
            {#                                </option>#}
            {#                                <? }#}

            {#                                }#}
            {#                                ?>#}
            {#                                <? } else {#}
            {#                                while ($ob_section_filter = $Section_filter->GetNext()) {#}
            {#                                ?>#}
            {#                                <option class="sidebar__item_lists_list"#}
            {#                                        value="?property_region=<?= $ob_section_filter[" ID#}
            {#                                "] ?>">#}
            {#                                <?= $ob_section_filter["NAME"] ?>#}
            {#                                </option>#}
            {#                                <? } ?>#}

            {#                                <? } ?>#}
            {#                            </select>#}
            {#                            <?php if (isset($_GET["property_evaluation"]) || isset($_GET["property_kpp"]) || isset($_GET["property_region"])) {#}
            {#                            if ($bool_check_region === true) {#}

            {#                                $url_for_filter = "?";#}
            {#                                foreach ($sort_url as $key => $filter) {#}

            {#                            if ($key != "property_region" && $key!="PAGEN_1") {#}
            {#                            $url_for_filter .= "$key=$filter&";#}
            {#                            }#}
            {#                            }#}
            {#                            if ($url_for_filter == "?") {#}
            {#                            $url_for_filter = "/feedback/";#}
            {#                            }#}
            {#                            ?>#}
            {#                            <a data-tooltip="Очистить город" data-position="bottom" class="refresh_active-link bottom"#}
            {#                               href="<?= $url_for_filter ?>">#}
            {#                                <div class="activ_filter after-select_activ-filter">#}
            {#                                    <?= $name_region ?></div>#}
            {#                            </a>#}
            {#                            <? }#}
            {#                        } ?>#}

            {#                        </div>#}

            <a class="feedback__filter__reset" href="{{ path('app_insurancecompany_feedback_index') }}">Сбросить
                фильтры</a>
        </div>

    </form>

    <!-- Wrap -->
    <div class="feedback">
    <div class="feedback__wrap_white-blocks">
    <!-- FeedBack block -->

    {% if nbReviews == 0 %}
        <div>
            <p class="error title-medium">Отзывы не найдены</p>
        </div>
    {% else %}
        {% for review in reviews %}
            <div class="white_block white_block_riview_{{ review.id }}">
                {% if review.updatedAt %}
                    <span class="date_review">Дата изменения {{ review.updatedAt|date('d M, Y') }}</span>
                {% endif %}
                {% if review.fromLetter %}
                    <h3 class="feedback__title">Возврат денежных средств</h3>
                {% endif %}

                <!-- top -->
                <div class="feedback__block_top">

                    {% if review.valuation > 0 %}
                        <div class="feedback__block_top_star">

                            {% for i in 1..review.valuation %}
                                <svg class="star star-active" xmlns="http://www.w3.org/2000/svg"
                                     viewBox="0 0 47.94 47.94">
                                    <path
                                            d="M26.285 2.486l5.407 10.956a2.58 2.58 0 0 0 1.944 1.412l12.091 1.757c2.118.308 2.963 2.91 1.431 4.403l-8.749 8.528a2.582 2.582 0 0 0-.742 2.285l2.065 12.042c.362 2.109-1.852 3.717-3.746 2.722l-10.814-5.685a2.585 2.585 0 0 0-2.403 0l-10.814 5.685c-1.894.996-4.108-.613-3.746-2.722l2.065-12.042a2.582 2.582 0 0 0-.742-2.285L.783 21.014c-1.532-1.494-.687-4.096 1.431-4.403l12.091-1.757a2.58 2.58 0 0 0 1.944-1.412l5.407-10.956c.946-1.919 3.682-1.919 4.629 0z"
                                            {% if review.moderationStatus == constant('AppBundle\\Entity\\Company\\FeedbackModerationStatus::MODERATION_NONE') %}
                                        fill="#c5d2e0"
                                    {% elseif review.moderationStatus == constant('AppBundle\\Entity\\Company\\FeedbackModerationStatus::MODERATION_REJECTED') %}
                                        fill="#3a4552"
                                    {% elseif review.moderationStatus == constant('AppBundle\\Entity\\Company\\FeedbackModerationStatus::MODERATION_ACCEPTED') %}
                                        fill="#00abd8"
                                            {% endif %}/>
                                </svg>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="feedback__block_top_name">
                    <span class="feedback__block_top_name_text">{{ review.user.fullName }}, {{ review.region.name }},
                        {{ review.createdAt|date("d F, Y") }}</span>

                        <!-- Company Name -->
                        <div class="feedback__block_company-name">
                            {#                            {% set logo = bx_resize_img(review.company.logo, { width: 120, height: 80 }, 1, true) %}#}
                            {#                            <img src="{{ logo.src }}" alt="Логотип компании {{ review.company.name }}"/>#}
                        </div>
                    </div>
                    <!--                <div class="feedback__block_top_data">-->
                    <!--                    05 сент, 2019-->
                    <!--                </div>-->
                </div>
                <!-- Title -->
                <a href="/feedback/comment-{{ review.id }}/">
                    <h3 class="feedback__title">{{ review.title }}</h3>
                </a>

                <!-- Text -->
                <div class="srolling--parent">
                    <p class="feedback__text readmore__parent">{{ review.text }}</p>
                </div>


                <!-- Bottom -->
                <div class="feedback__bottom">
                    <div class="feedback__bottom_name opacity_block">{{ review.company.name }}</div>

                    <a id="show-comments" class="feedback__bottom_link opacity_block">
                        <img src="" alt="">

                        <span class="comment-count">
                        <?= $count_comments ?>
                    </span>
                        комментариев
                    </a>
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        <a rel="nofollow" class="toggle_comment_dropdown opacity_block">Оставить комментарий</a>
                    {% endif %}
                    <div class="block_commented_styles block__commented">
                        <form action="">
                            <div class="input__wrap">
                            <textarea minlength="10" name="comment" required
                                      data-id-comment="{{ review.id }}"></textarea>
                            </div>
                            <div class="danger hidden">Заполните поле</div>
                            <button type="submit" class="smallMainBtn button-comments" id="comments"
                                    data-id-comment="{{ review.id }}">Комментировать
                            </button>
                        </form>
                    </div>
                </div>
                <!-- COMMETNS -->
                <div class="hidenComments">
                    <?php
                    $ID_COMMENTS = $arProps["COMMENTS_TO_REWIEW"]["VALUE"]; /// комментарии
                    $order = Array("date_active_from" => "desc");

                    $arSelectComments = Array("ID", "IBLOCK_ID", "NAME", "DATE_ACTIVE_FROM", "PROPERTY_*");
                    $arFilterComments = Array("IBLOCK_ID" => 14, "ACTIVE" => "Y", "ID" => $ID_COMMENTS);
                    $resComments = CIBlockElement::GetList($order, $arFilterComments, false, false, $arSelectComments);
                    while ($obComments = $resComments->GetNextElement()) {
                    $arFieldsComments = $obComments->GetFields();
                    $arPropsComments = $obComments->GetProperties();
                    $newDateComments = FormatDate("d F, Y", MakeTimeStamp($arFieldsComments["DATE_ACTIVE_FROM"]));

                    $rsUserComments = CUser::GetByID($arPropsComments["AVTOR_COMMENTS"]["VALUE"]);
                    $arUserComments = $rsUserComments->Fetch();
                    $name_userComments = $arUserComments["NAME"];

                    // $file_comment = CFile::ResizeImageGet($arUserComments["PERSONAL_PHOTO"],
                    // array('width' => 50, 'height' => 50), BX_RESIZE_IMAGE_PROPORTIONAL, true);


                    ?>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="block_remove">

                        <div data-id="<?php echo $arFieldsComments[" ID
                        "]; ?>"
                        class="delet_comment remove_comment">Удалить
                        комментарий
                    </div>
                </div>
                {% endif %}
                <div class="hidenComments__top">
                    <!--                    <img src="--><?php //echo $file_comment["src"] ?>
                    <!--" alt="OMS">-->


                    <? if ($arPropsComments["REPRESENTATIVE"]["VALUE"] == "1") { ?>
                    <div class="feedback_strah_user">
                        <p class="text_user">Представитель страховой службы</p>
                    </div>
                    <? } ?>
                    <div class="hidenComments__top_wrap">
                        <div class="hidenComments__top_name"><?= $name_userComments ?></div>

                        <div class="hidenComments__top_data"><?= $newDateComments ?></div>
                    </div>

                </div>

                <p><?= $arPropsComments["COMMENTS"]["VALUE"] ?></p>
                <? if ($USER->IsAuthorized()) { ?>
                <? if ($arPropsComments["CITED"]["VALUE"] == "") { ?>
                <!--                        <a id="show-comment" class="hidenComments__link" href="#">Цитировать</a>-->
                <div class="block_commented_styles">
                    <form action="">
                        <div class="input__wrap">
                            <textarea minlength="10" name="cited" required
                                      data-id-cited="<?= $arFieldsComments[" ID"] ?>"></textarea>
                        </div>
                        <div class="danger hidden">Заполните поле</div>
                        <button type="submit" class="smallMainBtn button-cited" id="comments"
                                data-id-cited="<?= $arFieldsComments[" ID
                        "] ?>">Цитировать
                        </button>
                    </form>
                </div>
                <? } ?>
                <? } ?>
                <!-- Цитаты-->
                <?php if ($arPropsComments["CITED"]["VALUE"] != "") {  // цитаты к коментариям ?>
                <div class="block_quotes">
                    <?php if ($USER->IsAdmin()) { ?>
                    <div class="block_remove">
                        <div class="delet_cation remove_comment"
                             data-id="<?php echo $arFieldsQuote[" ID
                        "]; ?>">Удалить
                        цитату
                    </div>
                </div>
                <?php } ?>
                <?

                                $ID_Quote = $arPropsComments["CITED"]["VALUE"];
                                $arSelectQuote = Array("ID", "IBLOCK_ID", "NAME", "DATE_ACTIVE_FROM", "PROPERTY_*");
                                $arFilterQuote = Array("IBLOCK_ID" => 15, "ACTIVE" => "Y", "ID" => $ID_Quote);
                $resQuote = CIBlockElement::GetList(false, $arFilterQuote, false, false,
                $arSelectQuote);
                while ($obQuote = $resQuote->GetNextElement()) {
                $arFieldsQuote = $obQuote->GetFields();
                $arPropsQuote = $obQuote->GetProperties();
                $newDateQuote = FormatDate("d F, Y",
                MakeTimeStamp($arFieldsQuote["DATE_ACTIVE_FROM"]));
                $ID_USERQuote = $arPropsQuote["AVTOR_CIATION"]["VALUE"];
                $rsUserQuote = CUser::GetByID($ID_USERQuote);
                $arUserQuote = $rsUserQuote->Fetch();
                $name_userQuote = $arUserQuote["NAME"];
                // $file_quote = CFile::ResizeImageGet($arUserQuote["PERSONAL_PHOTO"],
                // array('width' => 50, 'height' => 50), BX_RESIZE_IMAGE_PROPORTIONAL, true);

                ?>
                <div class="hidenComments__top">

                    <!--                        <img src="--><?php //echo $file_quote["src"]; ?>
                    <!--" alt="OMS">-->


                    <? if ($arPropsQuote["REPRESENTATIVE"]["VALUE"] == "1") { ?>
                    <div class="feedback_strah_user">
                        <p class="text_user">Представитель страховой службы</p>
                    </div>
                    <? } ?>
                    <div class="hidenComments__top_wrap">
                        <div class="hidenComments__top_name"><?= $name_userQuote ?></div>
                        <div class="hidenComments__top_data"><?= $newDateQuote ?></div>
                    </div>


                </div>

                <p class="quotes_italic">« <?= $arPropsQuote["CIATION"]["VALUE"] ?> »</p>


                <? } ?>

            </div>
            <? } ?>
            <? } ?>
            </div>

            {% if is_granted('ROLE_ADMIN') %}
                <div class="right_content-reviews">

                    {% if not filter.moderation is null %}

                        <div class="feedback__radio-btns">
                            <div id="checkbox-box_{{ review.id }}" class="wrap-chrckbox">
                                <label class="check-label years" data-chec="Y">
                                    промодерирован <input name="years" type="checkbox" value="accepted">
                                    <span class="check-img"></span>
                                </label>
                                <label class="check-label years" data-chec="Y">
                                    не по теме <input name="years" type="checkbox" value="reject">
                                    <span class="check-img"></span>
                                </label>
                            </div>
                        </div>

                        <div class="feedback__actions-btns">
                            <div class="feedback__actions-btns_btn mainBtn" onclick="check_review(this)"
                                 data-check-id="{{ review.id }}">
                                Применить
                            </div>

                            <div class="accentBtnBorder dalete_review feedback__actions-btns_btn"
                                 title="Удалить отзыв"
                                 data-id="{{ review.id }}">
                                Удалить отзыв
                            </div>
                        </div>

                    {% endif %}
                </div>
            {% endif %}

            </div><!-- FeedBack block END -->
        {% endfor %}

        {% if pagination.lastPage > 1 %}
            <font class="text title_count_page">
                Показано: {{ pagination.offset + 1 }}
                - {{ min(pagination.offset + pagination.maxPerPage, pagination.lastResult) }}
                из {{ pagination.nbResults }}
            </font>
            <font class="text block_pagen">
                {% if pagination.page > 1 %}
                    <a href="{{ urlBuilder.buildUrl({ page: 1 }) }}">Начало</a>
                    <a href="{{ urlBuilder.buildUrl({ page: pagination.page - 1 }) }}">Пред.</a>
                {% endif %}

                {% for i in range(low=max(1, pagination.page - 3), high=min(max(1, pagination.page - 3) + 4, pagination.lastPage), step=1) %}
                    {% if i != pagination.page %}
                        <a title="{{ i }}"
                           href="{{ urlBuilder.buildUrl({page: i}) }}">{{ i }}</a>
                    {% else %}
                        <b>{{ i }}</b>
                    {% endif %}
                {% endfor %}

                {% if pagination.page < pagination.lastPage %}
                    <a href="{{ urlBuilder.buildUrl({ page: pagination.page + 1 }) }}">След.</a>
                    <a href="{{ urlBuilder.buildUrl({ page: pagination.lastPage }) }}">Конец</a>
                {% endif %}
            </font>

        {% endif %}

        </div>


        {% if nbReviews %}
            <div class="sidebar">
                <!-- First Sidebar block -->
                <div class="white_block">

                    <h3 class="sidebar__item_title">Рейтинг страховых
                        компаний{% if filter.region %} ({{ filter.region.name }}){% endif %}</h3>

                    <ul class="sidebar__item_lists scrollbar">
                        {% for i, company in companyRating %}
                            <li class="sidebar__item_lists_list list_numbered-items">
                                <span class="sidebar_count number">{{ i+1 }}</span>
                                <a href="{{ urlBuilder.buildUrl({ filter: { company: company[0].kpp } }) }}"
                                   class="sidebar__item_lists_list_link" id="company"
                                   data-amount-star="{{ company.actualRating }}"
                                   data-id="{{ company[0].id }}">{{ company[0].name }}</a>
                                <span class="sidebar_count rating">{{ company.actualRating }}</span>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="center__child">
                        <a class="mainBtn" href="{{ path('app_insurancecompany_feedback_index') }}">Весь рейтинг</a>
                    </div>
                </div>


            </div>
        {% endif %}
        </div>
    {% endif %}
    <div class="info_block white_block">
        <p>Если у вас есть опыт обращения к своему страховому представителю, опишите его, вне зависимости от того,<br>
            положительный он или отрицательный. Так вы внесете свой вклад в формирование рейтинга страховых компаний<br>
            и возможно именно ваш отзыв станет решающим для посетителей сайта при выборе страховой компании. </p>
    </div>
    <!-- Second Sidebar block -->
{% endblock %}
