{% extends "base.html.twig" %}

{% block title %}Рейтинг страховых компаний работающих в системе ОМС{% endblock %}

{% block stylesheets %}
    <link href="/local/templates/kdteam/pages/style/main.min.css" type="text/css" rel="stylesheet"/>
    <link href="/local/templates/kdteam/pages/feedback/add/main.min.css" type="text/css" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/kdteam/pages/js/main.min.js"></script>
    <script type="text/javascript" src="/local/templates/kdteam/pages/feedback/add/main.min.js"></script>
    {{ parent() }}
{% endblock %}

{% block main %}
    <!-- Breadcrumbs -->
    <ul class="breadcrumbs">
        {% if is_mobile() or is_tablet() %}
            <li class="active-breadcrumbs"><a href="{{ path("app_insurancecompany_feedback_index") }}" class="">Добавление
                    отзыва</a></li>
        {% else %}
            <li><a href="/">Главная</a></li>
            <li><a href="{{ path("app_insurancecompany_feedback_index") }}">Отзывы</a></li>
            <li class="active-breadcrumbs">Добавление отзыва</li>
        {% endif %}
    </ul>

    <!-- Pages Title -->
    {#            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}#}
    <h1 class="page-title">Добавить отзыв о компании</h1>

    <!-- Wrap -->
    <form id="form-comments">
    <div class="white_block">

    <div class="feedback__top">
        <div class="add_reviews-select">
            {{ form_row(form.region) }}

            <label class="input__wrap_label" for="user_pass">Выбор региона: </label>
            <div class="input__wrap">
                <div class="input__ico">
                    <svg xmlns="http://www.w3.org/2000/svg" width="255" height="255"
                         viewBox="0 0 255 255">
                        <path d="M0 63.75l127.5 127.5L255 63.75z"/>
                    </svg>
                </div>
                <input id="referal" type="text" placeholder="Поиск по региону" autocomplete="off"/>
                <ul style="cursor: pointer;" class="custom-serach__items" id="search_result">
                    <?
                                        $arOrder = Array("name" => "asc");
                    $arFilter = Array("IBLOCK_ID" => 16);
                    $res = CIBlockSection::GetList($arOrder, $arFilter, false);
                    while ($ob = $res->GetNext()) {

                    ?>
                    <li value="<?= $ob[" ID
                    "] ?>" class="custom-serach__items_item region "
                    data-id-city="<?= $ob["ID"] ?>"><?= $ob["NAME"] ?></li>

                    <? } ?>
                </ul>
            </div>
        </div>
        <div class="add_reviews-select">
            <label class="input__wrap_label" for="user_pass">Список страховых компаний : </label>
            <div class="input__wrap">
                <div class="input__ico">
                    <svg xmlns="http://www.w3.org/2000/svg" width="255" height="255"
                         viewBox="0 0 255 255">
                        <path d="M0 63.75l127.5 127.5L255 63.75z"/>
                    </svg>
                </div>
                <input id="referal_two" type="text" placeholder="Поиск по страховым компаниям"
                       autocomplete="off"/>
                <ul style="cursor: pointer;" class="custom-serach__items"
                    id="search_result_hospital">

                </ul>
            </div>
        </div>
    </div>

    <h3 class="feedback__title">
        Расскажите о вашей ситуации
    </h3>
    {% if not is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <div class="input__wrap name_user_no_Authorized">
        <label for="name_user" class="input__wrap_label">Введите свое имя</label>
        <input id="name_user" type="name_user" name="name_user" placeholder="Имя" required
               pattern="([а-яЁА-ЯЁ]+)">
    </div>
    {% endif %}


    <div class="input__wrap">
        <label for="name" class="input__wrap_label">Заголовок</label>
        <input id="title" type="title" name="title" required>
    </div>

    <div class="input__wrap">
        <label for="name" class="input__wrap_label">Описание</label>
        <textarea rows="10" name="description" id="description" required></textarea>
    </div>

    <div class="feedback__bottom">
        <div class="feedback__bottom_star">
            <!-- Rating Stars Box -->
            <div class='rating-stars text-center input__wrap' data-select="star">
                <label for="name" class="input__wrap_label">Оценка</label>
                <ul id='stars'>
                    <li class='star' title='Poor' data-value='1'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Fair' data-value='2'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Good' data-value='3'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='Excellent' data-value='4'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                    <li class='star' title='WOW!!!' data-value='5'>
                        <i class='fa fa-star fa-fw'></i>
                    </li>
                </ul>
            </div>

            <div class="danger" style="display: none">Дайте оценку компании</div>

            <div class='success-box'>
                <div class='text-message'></div>
                <div class='clearfix'></div>
            </div>
        </div>

        <div class="feedback__bottom_r">
            <!-- Checkbox -->
            <div class="wrap-chrckbox">
                <!--                                <label class="check-label">-->
                <!--                                    Согласен с правилами публикации отзывов на сайте-->
                <!--                                    <input type="checkbox" value="" />-->
                <!--                                    <span class="check-img"></span>-->
            </div>

            <button type="submit" class="smallMainBtn" id="submit">Отправить</button>
        </div>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}

    {#            <!--            -->{% else %}#}
    {#            <!--                <h2 style="color: red;" class="page-title">Отзывы можно оставлять только авторизованным-->#}
    {#            <!--                    пользователям!</h2>-->#}
    {#            <!--                <p>Для того чтобы вернуться на страницу «отзывы», кликните <a style="text-decoration: underline"-->#}
    {#            <!--                                                                              href="/feedback/">сюда</a></p>-->#}
    {#            <!--            -->{% endif %}#}
{% endblock %}
