{% extends "base.html.twig" %}

{% set title = review.title ~ " &mdash; " ~ (review.company ? review.company.name : '') ~ " " ~ (review.region ? review.region.name : '') ~ " &mdash; Рейтинг страховых компаний, работающих в системе ОМС &mdash; Без Бахил" %}

{% block meta %}
    {{ parent() }}
    <meta name="robots" content="index, follow"/>
    <meta name="title" content="{{ title }}"/>
    <meta name="keywords"
          content="медицинское страхование отзывы, бесплатное лечение, бесплатная медицинская помощь, рейтинг медицинских страховых компаний омс в москве"/>
    <meta name="description" content="Рейтинг страховых компаний работающих в системе ОМС"/>
{% endblock %}

{% block title %}{{ title }}{% endblock %}

{% block stylesheets %}
    <link href="/local/templates/kdteam/pages/feedback/main.min.css?158626847510518" type="text/css" rel="stylesheet"/>
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="/local/templates/kdteam/js/main.min.js?1593497507172695"></script>
    <script type="text/javascript" src="/local/templates/kdteam/pages/feedback/main.min.js?15862684754547"></script>
    <script type="text/javascript" src="/local/templates/kdteam/js/readmore.min.js?1586268475879"></script>
    {{ parent() }}
{% endblock %}

{% block main %}
    <ul class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        {% if is_mobile() or is_tablet() %}
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="{{ path("app_insurancecompany_feedback_index") }}" class="active-breadcrumbs" itemprop="item">{{ review.title }}
                    <meta itemprop="name" content="{{ review.title }}">
                </a>
                <meta property="position" content="1">
            </li>
        {% else %}
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="/" itemprop="item">Главная
                    <meta itemprop="name" content="Главная">
                </a>
                <meta property="position" content="1">
            </li>
            <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a href="{{ path("app_insurancecompany_feedback_index") }}" itemprop="item">Отзывы
                    <meta itemprop="name" content="Отзывы">
                </a>
                <meta property="position" content="2">
            </li>
            <li class="active-breadcrumbs" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                <a itemprop="item">{{ review.title }}
                    <meta itemprop="name" content="{{ review.title }}">
                </a>
                <meta property="position" content="3">
            </li>
        {% endif %}
    </ul>

    {% include "InsuranceCompany/Review/_review_block_page.html.twig" %}
{% endblock %}
